<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
  
  <configSections>
      <section name="France" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <France>
    <add key="Calais" value="Calais/413/45" />
    <add key="Azincourt" value="Azincourt/420.4/88" />
    <add key="Bertincourt" value="Bertincourt/397.2/117.6" />
    <add key="Arras" value="Arras/470.8/106.4" />
    <add key="Amiens" value="Amiens/440.4/140" />
    <add key="Péronne" value="Péronne/478.8/140" />
    <add key="Cambrai" value="Cambrai/498.8/110.4" />
    <add key="Dieppe" value="Dieppe/355.6/138.4" />
    <add key="Fécanp" value="Fécanp/308.4/156.8" />
    <add key="Rouen" value="Rouen/353.2/176.8" />
    <add key="Honfleur" value="Honfleur/300.4/188.8" />
    <add key="Lisieux" value="Lisieux/290.8/212" />
    <add key="Bayeux" value="Bayeux/243.6/185.6"/>
    <add key="Avranches" value="Avranches/208.4/236" />
    <add key="Compiènge" value="Compiènge/478/176.8" />
    <add key="Varenne" value="Varenne/522.8/160" />
    <add key="Reims" value="Reims/548.4/192" />
    <add key="Sainte-Ménéhould" value="Sainte-Ménéhould/500.4/221.6" />
    <add key="Troyes" value="Troyes/526.8/289.6" />
    <add key="Argonne" value="Argonne/592.4/225.6" />
    <add key="Conflens" value="Conflens les Sens/476.4/301.6" />
    <add key="Langres" value="Langres/602.8/345.6" />
    <add key="Joinville" value="Joinville/593.2/281.6" />
  </France>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>